<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to authenticated_root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <div class="navbar-tools">
      <% if user_signed_in? && Timestamp.last.present? && Timestamp.last.end_time.present? %>
        <%= link_to new_timesheet_timestamp_path(Timestamp.last.timesheet), class: "stopwatch-btn" do %>
          <i class="fas fa-clock"></i> Start
        <% end %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to dashboard_path, class: "nav-link #{current_page?(dashboard_path) ? 'active' : ''}" do %>
              <i class="fas fa-home"></i> Dashboard
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to clients_path, class: "nav-link #{current_page?(clients_path) ? 'active' : ''}" do %>
              <i class="fas fa-users"></i> Clients
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to projects_path, class: "nav-link #{current_page?(projects_path) ? 'active' : ''}" do %>
              <i class="fas fa-project-diagram"></i> Projects
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to timesheets_path, class: "nav-link #{current_page?(timesheets_path) ? 'active' : ''}" do %>
              <i class="fas fa-clock"></i> Timesheets
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to questions_path, class: "nav-link #{current_page?(questions_path) ? 'active' : ''}" do %>
              <%= image_tag "broken_sword.png", class: "broken-sword-icon" %> Take a Break
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle"></i> Account
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <i class="fas fa-user-edit"></i> Edit Profile
              <% end %>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" do %>
                <i class="fas fa-sign-out-alt"></i> Log out
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>